{
  "facebook_app_id": "",
  "facebook_app_secret": "",
  "facebook_redirect_uri": "",
  "page_access_token": "",
  "twitter_api_key": "",
  "twitter_api_secret_key": "",
  "twitter_access_token": "",
  "twitter_access_token_secret": "",
  "twitter_api_key_OAuth_2_0": "",
  "twitter_api_secret_key_OAuth_2_0": "",
  "chromedriver_path": "C:\\Program Files\\Google\\ChromeDriver\\chromedriver.exe",
  "modules": {
    "generic": {
      "filesystem_website_base_directory": "/var/www/mywebsite/en/html",
      "website_base_url": "https://en.mywebsite.org"
    },
    "negapedia": {
      "filesystem_website_base_directory": "/var/www/negapedia/en/html",
      "website_base_url": "http://en.negapedia.org",
      "extract_original_charts_images": false
    }
  }
}