{
  "facebook_app_id": "",
  "facebook_app_secret": "",
  "facebook_page_access_token": "",
  "twitter_api_key": "",
  "twitter_api_secret_key": "",
  "twitter_access_token": "",
  "twitter_access_token_secret": "",
  "web_posts_absolute_destination_path": "/var/www/negapedia/en/html/smkitwebpages/",
  "posts_images_absolute_destination_path": "/var/www/negapedia/images/",
  "modules": {
    "generic": {
      "filesystem_website_base_directory": "/var/www/mywebsite/en/html",
      "website_base_url": "https://en.mywebsite.org"
    },
    "negapedia": {
      "filesystem_website_base_directory": "/var/www/negapedia/en/html",
      "website_base_url": "http://en.negapedia.org",
      "number_of_words_that_matter_to_extract": 3,
      "number_of_conflict_awards_to_extract": 3,
      "number_of_polemic_awards_to_extract": 3,
      "number_of_social_jumps_to_extract": 3
    }
  },
  "translations_dictionary": {
    "en": {
        "recent_conflict_levels": "Recent Conflict Levels",
        "recent_polemic_levels": "Recent Polemic Levels",
        "mean_conflict_level": "Mean Conflict Level",
        "mean_polemic_level": "Mean Polemic Level",
        "plot_label_historical_levels_for": "Historical {type_check} Levels for {title}",
        "plot_title_historical_levels_for": "Historical {type_check} Levels for {title}",
        "plot_title_comparison_of_historical_levels": "Comparison of Historical {type_check} Levels",
        "image_alt_comparison_of_historical_levels": "Comparison of Historical {type_check} Levels for Multiple Topics",
        "image_alt_historical_levels_for": "Historical {type_check} Levels for {title}",
        "summary_for_negapedia_page": "Summary for {title} Negapedia page",
        "comparison_between_negapedia_pages": "Comparison between {title1} and {title2} Negapedia pages",
        "ranking_comparison_between_negapedia_pages": "Ranking comparison between Negapedia topics pages",
        "negapedia_page_analysis": "Negapedia Page Analysis",
        "x_label_year": "Year",
        "type_check_level": "{type_check} level",
        "top_1000_of_all_time_label": "Top 1000 of all time",
        "top_100_of_all_time_label": "Top 100 of all time",
        "top_1_percent_of_all_time_label": "Top 1% of all time",
        "first_place_of_the_year_label": "First place of the year",
        "third_place_of_the_year_label": "Third place of the year",
        "top_ten_of_the_year_label": "Top Ten of the year",
        "top_100_of_the_year_label": "Top 100 of the year",
        "top_1000_of_the_year_label": "Top 1000 of the year",
        "top_1_percent_of_the_year_label": "Top 1% of the year",
        "global_in_all_wikipedia": "GLOBAL (IN ALL WIKIPEDIA)",
        "category_specific": "CATEGORY SPECIFIC"
    },
    "it": {
        "recent_conflict_levels": "Livello di Conflitto Recente",
        "recent_polemic_levels": "Livello di Polemica Recente",
        "mean_conflict_level": "Media Livelli di Conflitto",
        "mean_polemic_level": "Media Livelli di Polemica",
        "plot_label_historical_levels_for": "Livelli Storici di {type_check} per {title}",
        "plot_title_historical_levels_for": "Livelli Storici di {type_check} per {title}",
        "plot_title_comparison_of_historical_levels": "Comparazione dei Livelli Storici di {type_check}",
        "image_alt_comparison_of_historical_levels": "Comparazione dei Livelli Storici di {type_check} per Molteplici Topics",
        "image_alt_historical_levels_for": "Livelli Storici di {type_check} per {title}",
        "summary_for_negapedia_page": "Sommario per la pagina Negapedia di {title}",
        "comparison_between_negapedia_pages": "Comparazione tra le pagine Negapedia di {title1} e {title2}",
        "ranking_comparison_between_negapedia_pages": "Classifica comparativa tra le pagine Negapedia di",
        "negapedia_page_analysis": "Analisi Pagine Negapedia",
        "x_label_year": "Anno",
        "type_check_level": "Livello di {type_check}",
        "top_1000_of_all_time_label": "Top 1000 di tutti i tempi",
        "top_100_of_all_time_label": "Top 100 di tutti i tempi",
        "top_1_percent_of_all_time_label": "Top 1% di tutti i tempi",
        "first_place_of_the_year_label": "Primo posto dell'anno",
        "third_place_of_the_year_label": "Terzo posto dell'anno",
        "top_ten_of_the_year_label": "Top Dieci dell'anno",
        "top_100_of_the_year_label": "Top 100 dell'anno",
        "top_1000_of_the_year_label": "Top 1000 dell'anno",
        "top_1_percent_of_the_year_label": "Top 1% dell'anno",
        "global_in_all_wikipedia": "GLOBALE (IN TUTTA WIKIPEDIA)",
        "category_specific": "PER CATEGORIA SPECIFICA"
    }
  }
}